
svg	{
	background: purple;
}

.scrollable	{
	fill: 		white;
}

line	{
	cursor: 	pointer;
}

line:hover	{
	stroke-opacity:	0.3;
}

path	{
	cursor: 	pointer;
	fill:		none;
	stroke:		black;
	stroke-width:	1px;
}

path:hover	{
	stroke-opacity:	0.3;
}

path.wan	{
	stroke-opacity: 0.15;
}

text	{
	font-family:	Verdana, sans-serif;
	text-rendering: optimizeLegibility; 
}

text.symbol	{
	font-weight:	800;
	fill:		darkblue;
}

text.symbolbg	{
	font-weight:	800;
	stroke:		white;
	stroke-width:	3px;
}

image	{
	cursor:		pointer;
}

.sitegroup	{
	cursor:		pointer;
}


.planned	{
	stroke-dasharray:	4, 6;
}


.fiber	{
	stroke:		darkblue;
}

.copper	{
	stroke: 	orange;
}

.radio	{
	stroke:		darkred;
}

.dsl	{
	stroke: 	green;
}

.gprs	{
	stroke: 	purple;
}


rect.dsl {
	stroke:		green;
	fill:		green;
	fill-opacity:   0.5;
}

rect.gprs {
	stroke:		purple;
	fill:		purple;
	fill-opacity:   0.5;
}

.nameplate {
	fill: 		white;
	fill-opacity:	1.0;
	stroke:		none;
}

.at1m	{
	stroke-width: 	1px;
}

.at10m	{
	stroke-width: 	1px;
}

.at100m	{
	stroke-width: 	2px;
}

.at1g	{
	stroke-width: 	3px;
}

.at10g	{
	stroke-width: 	5px;
}



circle	{
	stroke-width: 	1px;
	stroke-opacity: 0.6;
	fill-opacity:	0.2;
}

circle:hover	{
	stroke-width: 	2px;
	stroke-opacity: 1.0;
	fill-opacity:	0.4;
}

.alive	{
	stroke:		lightgreen;
	fill:		lightgreen;
}

.warning{
	stroke:		#FF9900;
	fill:		#FF9900;
}

.dead	{
	stroke:		red;
	fill:		red;
}

.disabled	{
	stroke:		gray;
	fill:		gray;
}

.unknown	{
	stroke:		gray;
	fill:		white;
}


.sitegroup {
	fill:		gray;
	fill-opacity: 0;
	stroke:		black;
	stroke-width:	1.0;
	stroke-opacity: 0.4;
}

.sitegroup:hover	{
	stroke-opacity: 0.8;
}

.sitegrouplabel {
	fill: 		gray;
	fill-opacity:	1;
	stroke:		none;
}


.hostgroup {
	fill:		white;
	fill-opacity: 	0;
	stroke:		black;
	stroke-width:	1.0;
	stroke-opacity: 0.4;
}

.hostgroup:hover	{
	stroke-opacity: 0.8;
}

.hostgrouplabel {
	fill: 		gray;
	fill-opacity:	1;
	stroke:		none;
}


